@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="card">
    <div class="card-body wizard-content">
        <h4 class="card-title">Basic Form Example</h4>
        <h6 class="card-subtitle"></h6>
        <form id="example-form" action="#" class="mt-6">
            <div>
                <h3>1</h3>

                <section id="section1-container">
                    @await Html.PartialAsync("MatrixAdmin/FormWizard/Section1/_Section1")
                </section>
                <h3>2</h3>
                <section>
                    @await Html.PartialAsync("MatrixAdmin/FormWizard/Section2/_Section2")
                </section>
                <h3>3</h3>
                <section>
                    <ul>
                        <li>Foo</li>
                        <li>Bar</li>
                        <li>Foobar</li>
                    </ul>
                </section>
                <h3>4</h3>
                <section>
                    <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required">
                    <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                </section>
            </div>
        </form>
    </div>
</div>


<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
