@{
    ViewData["Title"] = "Página Específica";
    Layout = "~/Views/Shared/MatrixAdmin/_Layout.cshtml";
}

@* agregar css *@
<link href="~/css/FormWizard.css" rel="stylesheet" type="text/css" />
<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">


<h2>Form Wizard</h2>

@await Html.PartialAsync("MatrixAdmin/FormWizard/_FormWizard")


@section scripts {
    <!-- this page js -->
    <script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
    @* <script src="~/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script> *@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        // Basic Example with form
        var form = $("#example-form");
        form.children("div").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex) {
                form.validate().settings.ignore = ":disabled,:hidden";
                return form.valid();
            },
            onFinishing: function (event, currentIndex) {
                form.validate().settings.ignore = ":disabled";
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                alert("Submitted!");
            }
        });

        var form = $("#example-form");
        var nextButton = form.find("a[href='#next']");
        var originalHref = nextButton.attr('href');


        //funcion que recibe un valor booleano y habilita o deshabilita el boton
        function enableNextButton(enable) {
            if (enable) {
                nextButton.removeClass("disabled");
                nextButton.attr('href', originalHref); // Restablecer el href para habilitar el enlace
                nextButton.css('cursor', ''); // Restablecer el cursor si fue cambiado
            } else {
                nextButton.addClass("disabled");
                nextButton.removeAttr('href'); // Quitar el href para deshabilitar el enlace
                nextButton.css('cursor', 'not-allowed'); // Cambiar el cursor a 'no permitido'
            }
        }

        enableNextButton(false); // Inicialmente deshabilitado


    </script>



}
